@import "macchiato.css";

* {
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: rgba(30, 30, 46, 0);
  color: @overlay0;
  transition-duration: 0.1s;
}

#workspaces {
  background: @base;
  margin: 5px 5px 5px 5px;
  padding: 0px 6px 0px 6px;
  border-radius: 16px;
  border: solid 0px #f4d9e1;
}

#window {
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: @blue;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  padding: 0px 5px;
  border-radius: 0;
}

button:hover {
  background: inherit;
  color: @blue;
}

#workspaces button {
  padding: 0 4px;
  color: @overlay1;
  border-radius: 16px;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  color: @blue;
  border-radius: 16px;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: @blue;
  border-radius: 16px;
}

#workspaces button.urgent {
  color: @red;
  border-radius: 16px;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#custom-music_prev,
#custom-music_toggle,
#custom-music_next,
#custom-music,
#custom-launcher,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#custom-music_prev,
#custom-music_toggle,
#custom-music,
#custom-music_next {
  color: @blue;
}

#clock {
  color: @blue;
}

#clock.date {
  color: @blue;
}

#pulseaudio {
  color: @blue;
}

#network {
  color: @blue;
}

#battery {
  color: @blue;
}

#custom-launcher {
  color: @blue;
}

#cpu {
  color: @blue;
}

#disk {
  color: @blue;
}

#memory {
  color: @blue;
}

#temperature {
  color: @blue;
}

.modules-center {
  padding-right: 12px;
  padding-left: 12px;
  margin: 12px 32px 0px 32px;
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 16px;
  border: solid 0px;
}

.modules-left {
  padding-left: 12px;
  padding-right: 12px;
  margin: 12px 0px 0px 12px;
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 16px;
  border: solid 0px;
}

.modules-right {
  padding-right: 12px;
  padding-left: 12px;
  margin: 12px 12px 0px 0px;
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 16px;
  border: solid 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
